# ==================================================
# Dependencies
# ==================================================
node_modules/

# ==================================================
# Build outputs
# ==================================================
dist/
build/

# ==================================================
# AWS CDK
# ==================================================
cdk.out/

# ==================================================
# Environment variables
# ==================================================
.env
.env.local

# ==================================================
# IDE files
# ==================================================


# ==================================================
# OS files
# ==================================================
.DS_Store
Thumbs.db

# ==================================================
# Logs
# ==================================================
*.log